*{
   font-family: 'Raleway', 'Segoe UI';
   font-size: 100%;
}

html,body
{
    overflow-x: hidden; 
}

.fs-product{
   font-size: 18px;
}

.carousel-caption{
   position: absolute;
   top: 20%;
   left: 0%;

}

.price-font{
   font-size: 25px;
}

.object-cover{
   object-fit: cover;
}

.text-heading{
   text-transform: uppercase;
}
.fli{
   background: red;
}
.mx-auto{
   margin-left: auto;
   margin-right: auto;
}

.hidden-bg{
   position: absolute;
   z-index: 999;
}

.slider-track{
   background: #212529;
}
.slider-selection {
   background: #55585a;
   display: block;
   position: relative;
}

.slider {
   width: 98% !important;
}

.tooltip.in {
   opacity: 1;
 }

.col-md-3>ul>li{
   background: #efefef;
}

.col-md-4>ul>li{
   background: #6AEFBD;
}

.col-md-4>ul>li>a{
   color: #951042;
   font-weight: 500;
}

.card-layout{
   display: block;
width: 100%;
}

.trapezoid {
	border-bottom: 50px solid red;
	border-left: 25px solid red;
	border-right: 50px solid transparent;
	height: 0;
	width: 400px;
}

td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
 }

.ul-right{
   float: right;
}

.top-header{
   position: relative;
}


ul>li>a:link {
   text-decoration: none;
 }

 .fontS-li{
   font-size: 80%;
   list-style: none;
 }

.wrap-img{
   height: 30vh;
}

nav .navbar-nav li a{
   color: #951042 !important;
}

.carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%333333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%333333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }

@media (max-width: 991px) { 
    .sd-list-l{
       display: none;
    }
    .show-navbar{
       display: show;
    }
    /*.navbar>.collapse>ul li{
       display: none;
    }*/
    .ul-right{
       float: right;
    }

    .ul-left{
       float:left;
    }

    button{
       color: aliceblue;
    }
 }
 .md-6-center{
    display: none;
 }

 @media (min-width: 768px){ 
   .md-6-center{
      display: block;
   }
}

 @media (min-width: 991px) { 
    .sd-list-md{
       display: none;
    }
 }

 @media (min-width: 992px) { 
   .show-navbar{
      display: none;
   }
   .ex2{
      display: none;
   }
   .md-6-center{
      display: none;
   }
}
