*{
   font-family: 'Raleway', sans-serif;
   font-size: 100%;
}

.col-md-3>ul>li{
   background: #efefef;
}

td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
 }


.left-col-table{
   background: #efefef;
   padding-left: 20px;
}

.ul-right{
   float: right;
}

.top-header{
   position: relative;
}

.carousel-inner>.carousel-item>img{
   width: 100%;
   height: 60vh;
}

ul>li>a:link {
   text-decoration: none;
 }

 .fontS-li{
   font-size: 80%;
   list-style: none;
 }

.wrap-img{
   height: 30vh;
}

nav .navbar-nav li a{
   color: whitesmoke !important;
}

/*.carousel-control-prev-icon{
   background-image: url("./image/icon/icons8-back-100.png");
}*/

.carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%333333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%333333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }

@media (max-width: 991px) { 
    .sd-list-l{
       display: none;
    }
    .show-navbar{
       display: show;
    }
    /*.navbar>.collapse>ul li{
       display: none;
    }*/
    .ul-right{
       float: right;
    }

    .ul-left{
       float:left;
    }

    button{
       color: aliceblue;
    }
 }



 @media (min-width: 991px) { 
    .sd-list-md{
       display: none;
    }
 }

 @media (min-width: 992px) { 
   .show-navbar{
      display: none;
   }
}


